@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.container-semi-fluid {
    padding-left: 30px;
    padding-right: 30px;
}

.thead-format {
    background-color: #e0e0e0;
    border: 0px solid;
    font-size: 17px;
}

